/* Figma Styles of your File */
:root {
  /* Colors */
  --light-pink: #cd9fa2;
  --reddish: #995765;
  --purple: #68274f;
  --blue: #36356e;
  --dark-blue: #110b3b;

  /* Fonts */
  /* Effects */
}


.homepage-with-icon,
.homepage-with-icon * {
  box-sizing: border-box;
}
.homepage-with-icon {
  height: 2160px;
  position: relative;
}
.frame-127 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-125 {
  padding: 33px 654px 33px 654px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1543px;
  height: 2160px;
  position: relative;
}
.frame-124 {
  flex-shrink: 0;
  width: 1543px;
  height: 2160px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home-page-with-icon {
  background: linear-gradient(to left, #444444, #444444);
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  width: 1543px;
  height: 2160px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.rectangle-17 {
  background: #d9d9d9;
  width: 357px;
  height: 379px;
  position: absolute;
  left: 790px;
  top: 162px;
}
.background {
  opacity: 0.91;
  width: 1548px;
  height: 2169px;
  position: absolute;
  left: -4px;
  top: -2px;
  overflow: visible;
}
.user-alt {
  width: 43px;
  height: 40px;
  position: absolute;
  left: 1358px;
  top: 31px;
  overflow: visible;
}
.vector {
  width: 2.59%;
  height: 2.18%;
  position: absolute;
  right: 5.25%;
  left: 92.16%;
  bottom: 96.53%;
  top: 1.3%;
  overflow: visible;
}
.line-2 {
  width: 40px;
  height: 0px;
  position: absolute;
  left: 1337.5px;
  top: 28px;
  transform: translate(-0.5px, 0px);
  overflow: visible;
}
.logo {
  width: 108px;
  height: 102.14px;
  position: absolute;
  left: 32px;
  top: 0px;
  object-fit: cover;
}
.rectangle-29 {
  background: rgba(217, 217, 217, 0.8);
  width: 1548px;
  height: 1px;
  position: absolute;
  left: -8px;
  top: 665px;
}
.course-background-4 {
  border-radius: 0px;
  width: 401px;
  height: 347px;
  position: absolute;
  left: 58px;
  top: 1221px;
  overflow: visible;
}
.button-sm {
  border-radius: 37px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 68px;
  top: 1503px;
  overflow: hidden;
}
.h-6 {
  color: #cd9fa2;
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: relative;
  width: 79px;
}
.icn-arrow-right-icn-xs {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.h-62 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 96px;
  top: 1473px;
  width: 157px;
}
.paragraph-product-description {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 77px;
  top: 1437px;
  width: 257px;
}
.h-5-product-title-2 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 36px;
  top: 1405px;
  width: 313px;
}
.link-product-category {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 26px;
  top: 1373px;
  width: 92px;
}
.h-5-product-title-22 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 844px;
  top: 1006px;
  width: 326px;
}
.course-background-3 {
  border-radius: 0px;
  width: 450px;
  height: 347px;
  position: absolute;
  left: 1002px;
  top: 827px;
  overflow: visible;
}
.h-5-product-title-23 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 973px;
  top: 988px;
  width: 326px;
}
.link-product-category2 {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 1035px;
  top: 960px;
  width: 146px;
}
.button-sm2 {
  border-radius: 37px;
  border-style: solid;
  border-color: var(--primary-color, #23a6f0);
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 68px;
  top: 1093px;
  overflow: hidden;
}
.h-63 {
  color: var(--primary-color, #23a6f0);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: relative;
  width: 79px;
}
.icn-arrow-right-icn-xs2 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.contact-us {
  background: #ffffff;
  width: 1548px;
  height: 499px;
  position: absolute;
  left: calc(50% - 779.5px);
  top: 1671px;
  overflow: hidden;
}
.container {
  padding: 80px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 1308px;
  height: 434px;
  position: absolute;
  left: calc(50% - 641px);
  top: 0px;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1046px;
  position: relative;
  overflow: hidden;
}
.col-md-3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 238px;
  position: relative;
  overflow: hidden;
}
.h-3 {
  color: #2f2a36;
  text-align: left;
  font-family: var(--h3-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h3-font-size, 24px);
  line-height: var(--h3-line-height, 32px);
  letter-spacing: var(--h3-letter-spacing, 0.1px);
  font-weight: var(--h3-font-weight, 700);
  position: relative;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.ant-design-facebook-filled {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.ant-design-instagram-outlined {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.col-md-32 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 241px;
  position: relative;
  overflow: hidden;
}
.div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  color: var(--second-text-color, #737373);
  text-align: left;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: relative;
}
.col-md-33 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 240px;
  position: relative;
  overflow: hidden;
}
.col-md-34 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 213px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 462px;
  top: 434px;
  overflow: hidden;
}
.signature-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 513px;
  position: relative;
  overflow: hidden;
}
.made-during-hack-u-mass-24 {
  color: var(--second-text-color, #737373);
  text-align: left;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: relative;
}
.white-sparkle {
  position: absolute;
  inset: 0;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-1 {
  width: 406.38px;
  height: 360px;
  position: absolute;
  left: 3px;
  top: -2px;
  object-fit: cover;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-5 {
  opacity: 0.42;
  width: 406.38px;
  height: 360px;
  position: absolute;
  left: 3px;
  top: 352px;
  object-fit: cover;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-6 {
  opacity: 0.42;
  width: 597px;
  height: 444px;
  position: absolute;
  left: 368px;
  top: 8px;
  object-fit: cover;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-7 {
  opacity: 0.42;
  width: 406.38px;
  height: 360px;
  position: absolute;
  left: 912.85px;
  top: 324px;
  object-fit: cover;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-8 {
  opacity: 0.42;
  width: 251.73px;
  height: 360px;
  position: absolute;
  left: 1291.01px;
  top: 324px;
  object-fit: cover;
}
.pngtree-white-spot-float-image-1308466-removebg-preview-4 {
  width: 253.99px;
  height: 360px;
  position: absolute;
  left: 1254px;
  top: -5px;
}
.ellipse-96 {
  width: 964px;
  height: 471.35px;
  position: absolute;
  left: calc(50% - 570.5px);
  top: 818px;
  overflow: visible;
}
.rectangle-15 {
  border-radius: 0px;
  width: 644px;
  height: 377px;
  position: absolute;
  left: 794px;
  top: 167px;
  overflow: visible;
}
.november-2024 {
  color: #545454;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -235.5px);
  top: 182px;
  width: 233px;
  height: 21px;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #cfcfcf;
  border-width: 1px 0 0 0;
  width: 614.01px;
  height: 0px;
  position: absolute;
  left: 804px;
  top: 220px;
  transform-origin: 0 0;
  transform: rotate(-0.373deg) scale(1, 1);
}
.ellipse-4 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 802px;
  top: 472px;
  overflow: visible;
}
.ellipse-5 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 993px;
  top: 472px;
  overflow: visible;
}
.rectangle-16 {
  background: rgba(153, 87, 101, 0.35);
  width: 210px;
  height: 39px;
  position: absolute;
  left: 811px;
  top: 478px;
}
.dates {
  position: absolute;
  inset: 0;
}
.days {
  width: 620px;
  height: 270px;
  position: static;
}
.s {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 45.57%;
  left: 53.21%;
  width: 1.23%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.m {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 38.93%;
  left: 59.16%;
  width: 1.91%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.t {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 33.24%;
  left: 65.53%;
  width: 1.23%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.w {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 26.6%;
  left: 71.49%;
  width: 1.91%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.t2 {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 20.91%;
  left: 77.86%;
  width: 1.23%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.f {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 14.69%;
  left: 84.08%;
  width: 1.23%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
.s2 {
  color: #995765;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 8.58%;
  left: 90.19%;
  width: 1.23%;
  bottom: 87.59%;
  top: 11.25%;
  height: 1.16%;
}
._1 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 14.47%;
  left: 84.3%;
  width: 1.23%;
  bottom: 85.5%;
  top: 13.34%;
  height: 1.16%;
}
._2 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 8.31%;
  left: 90.46%;
  width: 1.23%;
  bottom: 85.5%;
  top: 13.34%;
  height: 1.16%;
}
._3 {
  color: #333333;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 45.3%;
  left: 53.47%;
  width: 1.23%;
  bottom: 83.19%;
  top: 15.65%;
  height: 1.16%;
}
._4 {
  color: #333333;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 39.14%;
  left: 59.63%;
  width: 1.23%;
  bottom: 83.19%;
  top: 15.65%;
  height: 1.16%;
}
._5 {
  color: #333333;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 32.97%;
  left: 65.8%;
  width: 1.23%;
  bottom: 83.19%;
  top: 15.65%;
  height: 1.16%;
}
._6 {
  color: #333333;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 26.81%;
  left: 71.96%;
  width: 1.23%;
  bottom: 83.19%;
  top: 15.65%;
  height: 1.16%;
}
._7 {
  color: #333333;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 19.71%;
  left: 77.26%;
  width: 3.03%;
  bottom: 83.24%;
  top: 15.6%;
  height: 1.16%;
}
._8 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 14.86%;
  left: 84.19%;
  width: 0.95%;
  bottom: 83.15%;
  top: 15.69%;
  height: 1.16%;
}
._9 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 6.8%;
  left: 90.04%;
  width: 3.16%;
  bottom: 83.19%;
  top: 15.65%;
  height: 1.16%;
}
._10 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 44.53%;
  left: 53.01%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._11 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 38.37%;
  left: 59.18%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._12 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 32.2%;
  left: 65.34%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._13 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 26.04%;
  left: 71.51%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._14 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 19.88%;
  left: 77.67%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._15 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 13.71%;
  left: 83.84%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._16 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 7.55%;
  left: 90%;
  width: 2.45%;
  bottom: 80.87%;
  top: 17.97%;
  height: 1.16%;
}
._17 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 44.53%;
  left: 53.01%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._18 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 38.37%;
  left: 59.18%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._19 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 32.2%;
  left: 65.34%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._20 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 26.04%;
  left: 71.51%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._21 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 19.88%;
  left: 77.67%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._22 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 13.71%;
  left: 83.84%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._23 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 7.55%;
  left: 90%;
  width: 2.45%;
  bottom: 78.56%;
  top: 20.28%;
  height: 1.16%;
}
._24 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 44.53%;
  left: 53.01%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._25 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 38.37%;
  left: 59.18%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._26 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 32.2%;
  left: 65.34%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._277 {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 26.04%;
  left: 71.51%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._277-span {
  color: #000000;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
._277-span2 {
  color: #ffffff;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
._29 {
  color: var(--gray-1, #333333);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 19.88%;
  left: 77.67%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._30 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 13.71%;
  left: 83.84%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._31 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 7.55%;
  left: 90%;
  width: 2.45%;
  bottom: 76.25%;
  top: 22.59%;
  height: 1.16%;
}
._27 {
  color: var(--gray-4, #bdbdbd);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 44.53%;
  left: 53.01%;
  width: 2.45%;
  bottom: 85.5%;
  top: 13.34%;
  height: 1.16%;
}
._28 {
  color: var(--gray-4, #bdbdbd);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 38.37%;
  left: 59.18%;
  width: 2.45%;
  bottom: 85.5%;
  top: 13.34%;
  height: 1.16%;
}
._292 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 31.88%;
  left: 65.67%;
  width: 2.45%;
  bottom: 85.51%;
  top: 13.33%;
  height: 1.16%;
}
._302 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 25.56%;
  left: 71.98%;
  width: 2.45%;
  bottom: 85.51%;
  top: 13.33%;
  height: 1.16%;
}
._312 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 19.62%;
  left: 77.92%;
  width: 2.45%;
  bottom: 85.51%;
  top: 13.33%;
  height: 1.16%;
}
.we-re-on-a-mission-to-bring-people-together {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 158px;
  top: 183px;
  width: 648px;
  height: 204px;
}
.we-re-on-a-mission-to-bring-people-together-span {
  color: #ffffff;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 48px;
  font-weight: 300;
}
.we-re-on-a-mission-to-bring-people-together-span2 {
  color: #ffffff;
  font-family: "MontserratAlternates-Light", sans-serif;
  font-size: 64px;
  font-weight: 300;
}
.we-re-on-a-mission-to-bring-people-together-span3 {
  color: #ffffff;
  font-family: "MontserratAlternates-Light", sans-serif;
  font-size: 48px;
  font-weight: 300;
}
.we-re-on-a-mission-to-bring-people-together-span4 {
  color: #ffffff;
  font-family: "InriaSerif-Light", sans-serif;
  font-size: 48px;
  font-weight: 300;
}
.we-re-on-a-mission-to-bring-people-together-span5 {
  color: #ffffff;
  font-family: "Italianno-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.h-4-sub-headline {
  color: #e1d8de;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 609.5px);
  top: 363px;
  width: 596px;
  height: 51px;
}
.cta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 360px;
  top: 439px;
}
.button-md {
  border-radius: 5px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 15px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.btn-text {
  color: #cd9fa2;
  text-align: center;
  font-family: var(--btn-text-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--btn-text-font-size, 14px);
  line-height: var(--btn-text-line-height, 22px);
  letter-spacing: var(--btn-text-letter-spacing, 0.2px);
  font-weight: var(--btn-text-font-weight, 700);
  position: relative;
}
.frame {
  background: #cd9fa2;
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 609.5px);
  top: calc(50% - 641px);
  overflow: hidden;
}
.btn-text2 {
  color: var(--light-text-color, #ffffff);
  text-align: center;
  font-family: var(--btn-text-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--btn-text-font-size, 14px);
  line-height: var(--btn-text-line-height, 22px);
  letter-spacing: var(--btn-text-letter-spacing, 0.2px);
  font-weight: var(--btn-text-font-weight, 700);
  position: relative;
}
.h-2-section-title-4 {
  color: var(--light-text-color, #ffffff);
  text-align: left;
  font-family: "MontserratAlternates-Regular", sans-serif;
  font-size: 64px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 58px;
  top: 714px;
}
.paragraph {
  color: var(--light-text-color, #ffffff);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 58px;
  top: 781px;
  width: 286px;
  height: 37px;
}
.course-background-1 {
  background: #ffffff;
  border-radius: 10px;
  width: 401px;
  height: 347px;
  position: absolute;
  left: 58px;
  top: 829px;
}
.course-background-2 {
  background: #ffffff;
  border-radius: 10px;
  width: 437px;
  height: 347px;
  position: absolute;
  left: 507px;
  top: 829px;
}
.button-sm3 {
  border-radius: 37px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 519px;
  top: 1103px;
  overflow: hidden;
}
.icn-arrow-right-icn-xs3 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.rectangle-4 {
  width: 308px;
  height: 77px;
  position: absolute;
  left: 77px;
  top: 853px;
}
.rectangle-18 {
  width: 358px;
  height: 88px;
  position: absolute;
  left: 74px;
  top: 847px;
  object-fit: cover;
}
.link-product-category3 {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 72px;
  top: 951px;
  width: 92px;
}
.link-product-category4 {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 524px;
  top: 960px;
  width: 115px;
}
.h-5-product-title-24 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 58px;
  top: 984px;
  width: 257px;
}
.h-5-product-title-25 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 501px;
  top: 984px;
  width: 326px;
}
.paragraph-product-description2 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 77px;
  top: 1017px;
  width: 257px;
}
.paragraph-product-description3 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 524px;
  top: 1020px;
  width: 257px;
}
.frame2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 72px;
  top: 1032px;
  overflow: hidden;
}
.vector2 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 93.78%;
  left: 5.18%;
  bottom: 50.46%;
  top: 49.31%;
  overflow: visible;
}
.vector3 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 94.1%;
  left: 5.44%;
  bottom: 50.6%;
  top: 48.89%;
  overflow: visible;
}
.vector4 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 64.03%;
  left: 35.52%;
  bottom: 50.69%;
  top: 48.8%;
  overflow: visible;
}
.h-64 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 102px;
  top: 1048px;
  width: 157px;
}
.h-65 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 1065px;
  top: 1049px;
  width: 158px;
}
.h-66 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 592px;
  top: 1052px;
  width: 163px;
}
.button-sm4 {
  border-radius: 37px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 70px;
  top: 1089px;
  overflow: hidden;
}
.icn-arrow-right-icn-xs4 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.vector5 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 63.71%;
  left: 35.26%;
  bottom: 50.28%;
  top: 49.49%;
  overflow: visible;
}
.frame-101 {
  width: 392px;
  height: 100px;
  position: absolute;
  left: 526px;
  top: 844px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-19 {
  width: 384px;
  height: 104px;
  position: absolute;
  left: 1035px;
  top: 847px;
  object-fit: cover;
}
.paragraph-product-description4 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 1031px;
  top: 1018px;
  width: 257px;
}
.vector6 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 31.95%;
  left: 67.6%;
  bottom: 50.88%;
  top: 48.61%;
  overflow: visible;
}
.vector7 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 31.63%;
  left: 67.34%;
  bottom: 50.51%;
  top: 49.26%;
  overflow: visible;
}
.button-sm5 {
  border-radius: 37px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1030px;
  top: 1095px;
  overflow: hidden;
}
.icn-arrow-right-icn-xs5 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.course-background-5 {
  border-radius: 0px;
  width: 444px;
  height: 347px;
  position: absolute;
  left: 507px;
  top: 1217px;
  overflow: visible;
}
.vector8 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 64.1%;
  left: 35.45%;
  bottom: 31.34%;
  top: 68.15%;
  overflow: visible;
}
.button-sm6 {
  border-radius: 37px;
  border-style: solid;
  border-color: #cd9fa2;
  border-width: 1px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 138px;
  position: absolute;
  left: 513px;
  top: 1501px;
  overflow: hidden;
}
.icn-arrow-right-icn-xs6 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icn-arrow-right-icn-xs7 {
  flex-shrink: 0;
  width: 9.14px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.h-67 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 584px;
  top: 1472px;
  width: 157px;
}
.paragraph-product-description5 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: 400;
  position: absolute;
  left: 517px;
  top: 1435px;
  width: 257px;
}
.h-5-product-title-26 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 505px;
  top: 1400px;
  width: 281px;
}
.link-product-category5 {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 459px;
  top: 1367px;
  width: 92px;
}
.course-background-6 {
  border-radius: 0px;
  width: 450px;
  height: 347px;
  position: absolute;
  left: 1002px;
  top: 1221px;
  overflow: visible;
}
.vector9 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 31.63%;
  left: 67.34%;
  bottom: 31.62%;
  top: 68.15%;
  overflow: visible;
}
.vector10 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 31.95%;
  left: 67.6%;
  bottom: 32.08%;
  top: 67.41%;
  overflow: visible;
}
.h-68 {
  color: var(--second-text-color, #737373);
  text-align: right;
  font-family: var(--h6-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--h6-font-size, 14px);
  line-height: var(--h6-line-height, 24px);
  letter-spacing: var(--h6-letter-spacing, 0.2px);
  font-weight: var(--h6-font-weight, 700);
  position: absolute;
  left: 1070px;
  top: 1456px;
  width: 157px;
}
.h-5-product-title-27 {
  color: #2f2a36;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  position: absolute;
  left: 1018px;
  top: 1387px;
  width: 285px;
}
.link-product-category6 {
  color: #995765;
  text-align: right;
  font-family: var(--link-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--link-font-size, 14px);
  line-height: var(--link-line-height, 24px);
  letter-spacing: var(--link-letter-spacing, 0.2px);
  font-weight: var(--link-font-weight, 700);
  position: absolute;
  left: 989px;
  top: 1363px;
  width: 92px;
}
.rectangle-24 {
  width: 348px;
  height: 98px;
  position: absolute;
  left: 84px;
  top: 1254px;
  object-fit: cover;
}
.rectangle-25 {
  width: 405px;
  height: 98px;
  position: absolute;
  left: 513px;
  top: 1243px;
  overflow: visible;
  object-fit: cover;
}
.vector11 {
  width: 0.45%;
  height: 0.51%;
  position: absolute;
  right: 94.3%;
  left: 5.25%;
  bottom: 31.3%;
  top: 68.19%;
  overflow: visible;
}
.vector12 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 93.97%;
  left: 4.99%;
  bottom: 31.02%;
  top: 68.75%;
  overflow: visible;
}
.vector13 {
  width: 1.04%;
  height: 0.23%;
  position: absolute;
  right: 63.77%;
  left: 35.19%;
  bottom: 30.97%;
  top: 68.8%;
  overflow: visible;
}
.rectangle-28 {
  background: #d9d9d9;
  opacity: 0.8;
  width: 1550px;
  height: 1px;
  position: absolute;
  left: -8px;
  top: 111px;
}
.shape {
  width: 0.27%;
  height: 0.48%;
  position: absolute;
  right: 37.19%;
  left: 62.54%;
  bottom: 90.82%;
  top: 8.7%;
  overflow: visible;
}
.shape2 {
  width: 0.27%;
  height: 0.48%;
  position: absolute;
  right: 15.66%;
  left: 84.07%;
  bottom: 90.82%;
  top: 8.7%;
  transform: translate(-5.2px, -1px);
  overflow: visible;
}
.rectangle-23 {
  width: 381px;
  height: 82px;
  position: absolute;
  left: 1035px;
  top: 1251px;
  object-fit: cover;
}
.map {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: 908px;
  top: 30px;
  width: 113px;
  height: 70px;
}
.events {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: 1030px;
  top: 29px;
  width: 111px;
  height: 60px;
}
.home {
  color: var(--light-pink, #cd9fa2);
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: 802px;
  top: 32px;
  width: 125px;
  height: 70px;
}
.connect {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 32px;
  font-weight: 800;
  position: absolute;
  left: 1166px;
  top: 28px;
  width: 169px;
  height: 70px;
}
