:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1364px;
  height: 1443px;
  margin: 0 auto;
}
.shape-with-text {
  position: relative;
  width: 1366px;
  height: 66px;
  margin: 0 0 0 0;
  background: #c4c4c4;
  z-index: 6;
  border-radius: 6px;
}
.shape-with-text-1 {
  position: absolute;
  width: 1240.662px;
  height: 24px;
  top: 21px;
  left: 87.192px;
  background: #f8f8f8;
  z-index: 7;
  border-radius: 9.6px;
}
.shape-with-text-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 21px;
  left: 14.532px;
  background: #f8f8f8;
  z-index: 8;
}
.shape-with-text-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 21px;
  left: 43.596px;
  background: #f8f8f8;
  z-index: 9;
}
.frame {
  position: relative;
  width: 1364px;
  height: 885px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 43;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 504px;
  height: 58px;
  margin: 175px 0 0 779px;
  z-index: 78;
}
.h-headline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 58px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 51;
}
.h-headline-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 58px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 78;
}
.flex-row-cc {
  position: relative;
  width: 290px;
  height: 30px;
  margin: 25px 0 0 871px;
  z-index: 79;
}
.h-sub-headline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 52;
}
.h-sub-headline-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 79;
}
.flex-row-c {
  position: relative;
  width: 105px;
  height: 24px;
  margin: 39px 0 0 822px;
  z-index: 92;
}
.username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.username-6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.flex-row-f {
  position: relative;
  width: 412px;
  height: 54px;
  margin: 3px 0 0 822px;
  z-index: 80;
}
.jnt-input {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 53;
}
.input-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d0d0d0;
  z-index: 54;
  border-radius: 8px;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 98px;
  height: 24px;
  margin: 15px 0 0 8px;
  padding: 0;
  z-index: 55;
}
.jnt-input-7 {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 80;
}
.input-content-8 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ffffff;
  z-index: 81;
  border-radius: 8px;
}
.icon-text-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 98px;
  height: 24px;
  margin: 15px 0 0 8px;
  padding: 0;
  z-index: 82;
}
.flex-row-d {
  position: relative;
  width: 97px;
  height: 24px;
  margin: 23px 0 0 822px;
  z-index: 93;
}
.password {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.password-a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.flex-row-b {
  position: relative;
  width: 412px;
  height: 54px;
  margin: 1px 0 0 822px;
  z-index: 86;
}
.jnt-input-c {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 59;
}
.input-content-d {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d0d0d0;
  z-index: 60;
  border-radius: 8px;
}
.view {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 7px;
  transform: translate(0, -54.17%);
  z-index: 61;
}
.group {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 62;
}
.group-e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/7cd85c8c-00cd-4c32-80f7-09928b38d0d9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
}
.frame-f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 50%;
  left: 7px;
  padding: 0;
  transform: translate(0, -54.17%);
  z-index: 64;
}
.jnt-input-10 {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 86;
}
.input-content-11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ffffff;
  z-index: 87;
  border-radius: 8px;
}
.view-12 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 7px;
  transform: translate(0, -54.17%);
  z-index: 88;
}
.group-13 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 89;
}
.group-14 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/4763d093-4a30-4d4d-9de2-d3c16bab182d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 90;
}
.frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 24px;
  top: 50%;
  left: 7px;
  padding: 0;
  transform: translate(0, -54.17%);
  z-index: 91;
}
.flex-row-16 {
  position: relative;
  width: 58px;
  height: 24px;
  margin: 24px 0 0 823px;
  z-index: 94;
}
.email {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.email-17 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.flex-row-d-18 {
  position: relative;
  width: 412px;
  height: 54px;
  margin: 0 0 0 822px;
  z-index: 83;
}
.jnt-input-19 {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 56;
}
.input-content-1a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d0d0d0;
  z-index: 57;
  border-radius: 8px;
}
.icon-text-1b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 98px;
  height: 24px;
  margin: 15px 0 0 8px;
  padding: 0;
  z-index: 58;
}
.jnt-input-1c {
  position: absolute;
  width: 412px;
  height: 54px;
  top: 0;
  left: 0;
  z-index: 83;
}
.input-content-1d {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #ffffff;
  z-index: 84;
  border-radius: 8px;
}
.icon-text-1e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 98px;
  height: 24px;
  margin: 15px 0 0 8px;
  padding: 0;
  z-index: 85;
}
.frame-1f {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 358px;
  margin: 62px 0 0 852px;
  z-index: 68;
}
.jnt-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  z-index: 69;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  padding: 0 96px 0 96px;
  background: #995765;
  z-index: 70;
  border-radius: 40px;
}
.content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 101px;
  height: 40px;
  padding: 11px 0 11px 0;
  z-index: 71;
}
.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 101px;
  height: 20px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 72;
}
.flex-row-b-20 {
  position: relative;
  width: 171px;
  height: 19px;
  margin: 30px 0 0 958px;
  z-index: 73;
}
.already-have-account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 0;
  left: 0;
  color: #c4c4c4;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 46;
}
.already-have-account-21 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Open Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.flex-row-ea {
  position: relative;
  width: 358px;
  height: 40px;
  margin: 13px 0 0 852px;
  z-index: 74;
}
.button-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 358px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 47;
}
.button-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  padding: 0 24px 0 24px;
  background: #59b3d2;
  border: 1px solid #59b3d2;
  z-index: 48;
  border-radius: 40px;
}
.content-24 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 57px;
  height: 40px;
  padding: 11px 0 11px 0;
  z-index: 49;
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 20px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 50;
}
.button-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 358px;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 74;
}
.button-26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  padding: 0 24px 0 24px;
  background: #36356e;
  z-index: 75;
  border-radius: 40px;
}
.content-27 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 57px;
  height: 40px;
  padding: 11px 0 11px 0;
  z-index: 76;
}
.sign-in-28 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 20px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 77;
}
.background {
  position: absolute;
  width: 1366px;
  height: 2188px;
  top: -1267px;
  left: 0;
  background: url(./assets/images/d8f99388-8965-401f-a734-984400d795ed.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.flex-row-c-29 {
  position: absolute;
  width: 1364px;
  height: 947px;
  top: -62px;
  left: 0;
  z-index: 99;
}
.woman-s-face-with-word-galaxy-it {
  position: absolute;
  width: 541px;
  height: 947px;
  top: 0;
  left: 0;
  background: url(./assets/images/ee5afe74-6280-40d3-bf6a-39f3a17335d0.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
}
.pngtree-white-spot-float-image {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 97px;
  left: 400px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 96;
}
.white-spot-float {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 97px;
  left: 763px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 97;
}
.white-spot-float-2a {
  position: absolute;
  width: 266px;
  height: 360px;
  top: 97px;
  left: 1098px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 98;
}
.logo {
  position: absolute;
  width: 129px;
  height: 122px;
  top: 102px;
  left: 1199px;
  background: url(./assets/images/e59cfd38-87a8-40e7-85f7-af00f92db190.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.white-spot-float-2b {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 120px;
  left: 37px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.5;
  z-index: 95;
}
.footer {
  position: relative;
  width: 1366px;
  height: 414px;
  margin: 0 0 0 0;
  background: #f9f9f9;
  z-index: 11;
  overflow: hidden;
}
.facebook-messenger {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 37.471px 0 0 1148.226px;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  overflow: hidden;
}
.contact-us {
  position: relative;
  width: 1366px;
  height: 338px;
  margin: 13.529px 0 0 -68px;
  background: #ffffff;
  z-index: 12;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
  position: relative;
  width: 1050px;
  margin: 0 0 0 158px;
  padding: 80px 0 80px 0;
  z-index: 13;
  overflow: hidden;
}
.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 1046px;
  z-index: 14;
  overflow: hidden;
}
.col-md {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 25px;
  position: relative;
  width: 238px;
  z-index: 15;
  overflow: hidden;
}
.get-in-touch {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 16;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 68px;
  z-index: 17;
  overflow: hidden;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 18;
  overflow: hidden;
}
.facebook-filled {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 19;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 0 0 0 0.5px;
  background: url(./assets/images/097849c4-28fd-4aa6-b284-bb4f52d18746.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.instagram {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 21;
  overflow: hidden;
}
.instagram-outlined {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 22;
  overflow: hidden;
}
.vector-2c {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 1px 0 0 1.5px;
  background: url(./assets/images/8d5b66a6-9e76-4f23-9e69-945c21edd72d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.col-md-2d {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 241px;
  z-index: 24;
  overflow: hidden;
}
.company-info {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 25;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 67px;
  z-index: 26;
}
.about-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 27;
}
.blog {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 28;
}
.col-md-2e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 240px;
  z-index: 29;
  overflow: hidden;
}
.span-h {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 30;
}
.div-2f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 142px;
  z-index: 31;
}
.span-link {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 32;
}
.span-link-30 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 33;
}
.span-link-31 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 34;
}
.span-link-32 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 35;
}
.col-md-33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 131px;
  z-index: 36;
  overflow: hidden;
}
.span-h-34 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 37;
}
.div-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 106px;
  z-index: 38;
}
.span-link-36 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 39;
}
.span-link-37 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 40;
}
.span-link-38 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 41;
}
.span-link-39 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 42;
}
.div-3a {
  position: relative;
  width: 1366px;
  height: 76px;
  margin: -3px 0 0 0;
  background: #f9f9f9;
  overflow: hidden;
}
.container-3b {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 1050px;
  margin: 0 0 0 158px;
  padding: 25px 0 25px 0;
  z-index: 1;
  overflow: hidden;
}
.row-3c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 213px;
  position: relative;
  width: 513px;
  z-index: 2;
  overflow: hidden;
}
.col-md-3d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 513px;
  z-index: 3;
  overflow: hidden;
}
.span-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 4;
}
