{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="home-page">
    <div class="rectangle-17"></div>
    <div class="button-sm">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs" src="{% static 'assets/icn-arrow-right-icn-xs0.svg' %}" />
    </div>
    <div class="background"></div>
    <div class="h-5-product-title-2">November 8th-10th, 2024 at 6:30pm</div>
    <img class="course-background-3" src="{% static 'assets/course-background-30.svg' %}" />
    <img class="course-background-8" src="{% static 'assets/course-background-80.svg' %}" />
    <img class="course-background-6" src="{% static 'assets/course-background-60.svg' %}" />
    <img class="course-background-5" src="{% static 'assets/course-background-50.svg' %}" />
    <img class="course-background-4" src="{% static 'assets/course-background-40.svg' %}" />
    <div class="button-sm">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs2" src="{% static 'assets/icn-arrow-right-icn-xs1.svg' %}" />
    </div>
    <div class="button-sm">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs3" src="{% static 'assets/icn-arrow-right-icn-xs2.svg' %}" />
    </div>
    <div class="h-5-product-title-22">November 15th, 2024 at 7:00pm</div>
    <div class="link-product-category">Arab Cultural Night</div>
    <div class="button-sm2">
      <div class="h-62">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs4" src="{% static 'assets/icn-arrow-right-icn-xs3.svg' %}" />
    </div>
    <div class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="h-3">Get In Touch</div>
            <div class="social-media">
              <div class="facebook">
                <img
                  class="ant-design-facebook-filled"
                  src="{% static 'assets/ant-design-facebook-filled0.svg' %}"
                />
              </div>
              <div class="instagram">
                <img
                  class="ant-design-instagram-outlined"
                  src="{% static 'assets/ant-design-instagram-outlined0.svg' %}"
                />
              </div>
            </div>
          </div>
          <div class="col-md-32">
            <div class="h-3">Company info</div>
            <div class="div">
              <div class="link">About Us</div>
              <div class="link">Blog</div>
            </div>
          </div>
          <div class="col-md-33">
            <div class="h-3">Features</div>
            <div class="div">
              <div class="link">Business Marketing</div>
              <div class="link">User Analytic</div>
              <div class="link">Live Chat</div>
              <div class="link">Unlimited Support</div>
            </div>
          </div>
          <div class="col-md-34">
            <div class="h-3">Resources</div>
            <div class="div">
              <div class="link">IOS &amp; Android</div>
              <div class="link">Watch a Demo</div>
              <div class="link">Customers</div>
              <div class="link">API</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row2"></div>
      <div class="signature-text">
        <div class="made-during-hack-u-mass-24">Made during HackUMass 24’</div>
      </div>
    </div>
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-1"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-10.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-5"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-50.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-6"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-60.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-7"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-70.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-8"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-80.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-3"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-30.png' %}"
    />
    <img
      class="pngtree-white-spot-float-image-1308466-removebg-preview-4"
      src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-40.png' %}"
    />
    
    <div class="rectangle-15"></div>
    <div class="november-2024">November 2024</div>
    <img class="shape" src="{% static 'assets/shape0.svg' %}" />
    <img class="shape2" src="{% static 'assets/shape1.svg' %}" />
    <div class="line-6"></div>
    <img class="ellipse-4" src="{% static 'assets/ellipse-40.svg' %}" />
    <img class="ellipse-5" src="{% static 'assets/ellipse-50.svg' %}" />
    <div class="rectangle-16"></div>
    <div class="days">
      <div class="s">S</div>
      <div class="m">M</div>
      <div class="t">T</div>
      <div class="w">W</div>
      <div class="t2">T</div>
      <div class="f">F</div>
      <div class="s2">S</div>
      <div class="_1">1</div>
      <div class="_2">2</div>
      <div class="_3">3</div>
      <div class="_4">4</div>
      <div class="_5">5</div>
      <div class="_6">6</div>
      <div class="_7">7</div>
      <div class="_8">8</div>
      <div class="_9">9</div>
      <div class="_10">10</div>
      <div class="_11">11</div>
      <div class="_12">12</div>
      <div class="_13">13</div>
      <div class="_14">14</div>
      <div class="_15">15</div>
      <div class="_16">16</div>
      <div class="_17">17</div>
      <div class="_18">18</div>
      <div class="_19">19</div>
      <div class="_20">20</div>
      <div class="_21">21</div>
      <div class="_22">22</div>
      <div class="_23">23</div>
      <div class="_24">24</div>
      <div class="_25">25</div>
      <div class="_26">26</div>
      <div class="_27">
        27
        <br />
      </div>
      <div class="_29">28</div>
      <div class="_30">29</div>
      <div class="_31">30</div>
      <div class="_272">27</div>
      <div class="_28">28</div>
      <div class="_292">29</div>
      <div class="_302">30</div>
      <div class="_312">31</div>
    </div>
    <div class="we-re-on-a-mission-to-bring-people-together">
      <span>
        <span class="we-re-on-a-mission-to-bring-people-together-span">
          On a
        </span>
        <span class="we-re-on-a-mission-to-bring-people-together-span2">
          MISSION
        </span>
        <span class="we-re-on-a-mission-to-bring-people-together-span3"></span>
        <span class="we-re-on-a-mission-to-bring-people-together-span4">
          to bring people
        </span>
        <span class="we-re-on-a-mission-to-bring-people-together-span5">
          together
        </span>
      </span>
    </div>
    <div class="rectangle-28"></div>
    <div class="rectangle-29"></div>
    <div class="h-4-sub-headline">
      Select your preferred dates to get started!
    </div>
    <div class="cta">
      <div class="button-md">
        <div class="btn-text">Learn More</div>
      </div>
    </div>
    <div class="frame">
      <a href="{% url 'events' %}">
        <div class="btn-text2">Find events</div>
      </a>
    </div>
    <div class="paragraph">Some of our most popular events</div>
    <div class="course-background-1"></div>
    <div class="course-background-2"></div>
    <div class="button-sm">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs5" src="{% static 'assets/icn-arrow-right-icn-xs4.svg' %}" />
    </div>
    <div class="rectangle-4"></div>
    <img class="rectangle-18" src="{% static 'assets/rectangle-180.png' %}" />
    <div class="link-product-category2">Hindu YUVA</div>
    <div class="link-product-category3">AASA</div>
    <div class="link-product-category4">UFO</div>
    <div class="link-product-category5">UPC</div>
    <div class="link-product-category6">Hack UMass XII</div>
    <div class="h-5-product-title-23">November 9th, 2024 at 6:00pm</div>
    <div class="h-5-product-title-24">November 19th, 2024 at 7:00pm</div>
    <div class="h-5-product-title-25">November 16th, 2024 at 6:00pm</div>
    <div class="h-5-product-title-26">November 16th, 2024 at 8:00pm</div>
    <div class="h-5-product-title-27">November 8th-10th, 2024 at 6:30pm</div>
    <div class="paragraph-product-description">
      Information about event goes there
    </div>
    <div class="paragraph-product-description2">
      Information about event goes there
    </div>
    <div class="paragraph-product-description3">
      Information about event goes there
    </div>
    <div class="paragraph-product-description4">
      Information about event goes there
    </div>
    <div class="paragraph-product-description5">
      Information about event goes there
    </div>
    <div class="frame2"></div>
    <img class="vector" src="{% static 'assets/vector0.svg' %}" />
    <img class="vector2" src="{% static 'assets/vector1.svg' %}" />
    <img class="vector3" src="{% static 'assets/vector2.svg' %}" />
    <div class="h-63">23 Students RSVP’ed</div>
    <div class="h-64">9 Students RSVP’ed</div>
    <div class="h-65">56 Students RSVP’ed</div>
    <div class="h-66">137 Students RSVP’ed</div>
    <div class="h-67">67 Students RSVP’ed</div>
    <div class="h-66">137 Students RSVP’ed</div>
    <div class="button-sm3">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs6" src="{% static 'assets/icn-arrow-right-icn-xs5.svg' %}" />
    </div>
    <div class="button-sm4">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs7" src="{% static 'assets/icn-arrow-right-icn-xs6.svg' %}" />
    </div>
    <div class="button-sm5">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs8" src="{% static 'assets/icn-arrow-right-icn-xs7.svg' %}" />
    </div>
    <div class="button-sm6">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs9" src="{% static 'assets/icn-arrow-right-icn-xs8.svg' %}" />
    </div>
    <img class="vector4" src="{% static 'assets/vector3.svg' %}" />
    <img class="frame-101" src="{% static 'assets/frame-1010.png' %}" />
    <img class="rectangle-19" src="{% static 'assets/rectangle-190.png' %}" />
    <div class="group-4">
      <img class="login-button" src="{% static 'assets/login-button0.svg' %}" />
      <a href="{% url 'login' %}">
        <div class="login">Login</div>
      </a>
      
    </div>
    <div class="paragraph-product-description6">
      Information about event goes there
    </div>
    <img class="vector5" src="{% static 'assets/vector4.svg' %}" />
    <img class="vector6" src="{% static 'assets/vector5.svg' %}" />
    <div class="button-sm7">
      <div class="h-6">RSVP Now</div>
      <img class="icn-arrow-right-icn-xs10" src="{% static 'assets/icn-arrow-right-icn-xs9.svg' %}" />
    </div>
    <img class="rectangle-21" src="{% static 'assets/rectangle-210.png' %}" />
    <img class="rectangle-22" src="{% static 'assets/rectangle-220.png' %}" />
    <img class="rectangle-23" src="{% static 'assets/rectangle-230.png' %}" />
    <div class="h-68">17 Students RSVP’ed</div>
    <img class="vector7" src="{% static 'assets/vector6.svg' %}" />
    <img class="vector8" src="{% static 'assets/vector7.svg' %}" />
    <img class="vector9" src="{% static 'assets/vector8.svg' %}" />
    <img class="vector10" src="{% static 'assets/vector9.svg' %}" />
    <img class="vector11" src="{% static 'assets/vector10.svg' %}" />
    <img class="vector12" src="{% static 'assets/vector11.svg' %}" />
    <a href="{% url 'map' %}">
      <div class="map">Map</div>
    </a><a href="{% url 'events' %}">
      <div class="events">Events</div>
    </a>
    <a href="{% url 'homepagelogo' %}">
      <div class="home">Home</div>
    </a>
    <div class="connect">Connect</div>
    <img class="logo" src="{% static 'assets/logo0.png' %}" />
    <div class="h-2-section-title-4">
      <div class="property-1-default">
        <div class="h-2-section-title-42">Featured Events</div>
      </div>
    </div>
  </div>
  
</body>
</html>