{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/Registration.css' %}">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="create-the-account-page">
    <div class="div">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="made-during-hack-u-mass-24">
              Made during HackUMass 24’
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="facebook-messenger"></div>
    <div class="footer">
      <div class="contact-us">
        <div class="container2">
          <div class="row2">
            <div class="col-md-3">
              <div class="h-3">Get In Touch</div>
              <div class="social-media">
                <div class="facebook">
                  <img
                    class="ant-design-facebook-filled"
                    src="{% static 'assets/ant-design-facebook-filled0.svg' %}"
                  />
                </div>
                <div class="instagram">
                  <img
                    class="ant-design-instagram-outlined"
                    src="{% static 'assets/ant-design-instagram-outlined0.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-32">
              <div class="h-3">Company info</div>
              <div class="div2">
                <div class="link">About Us</div>
                <div class="link">Blog</div>
              </div>
            </div>
            <div class="col-md-33">
              <div class="h-3">Features</div>
              <div class="div2">
                <div class="link">Business Marketing</div>
                <div class="link">User Analytic</div>
                <div class="link">Live Chat</div>
                <div class="link">Unlimited Support</div>
              </div>
            </div>
            <div class="col-md-34">
              <div class="h-3">Resources</div>
              <div class="div2">
                <div class="link">IOS &amp; Android</div>
                <div class="link">Watch a Demo</div>
                <div class="link">Customers</div>
                <div class="link">API</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-105">
      <img class="background" src="{% static 'assets/background0.svg' %}" />
      <img class="logo" src="{% static 'assets/logo0.png' />
      <div class="already-have-the-account">?</div>
      <div class="button">
        <div class="button2">
          <div class="content">
            <div class="label">Sign in</div>
          </div>
        </div>
      </div>
      <div class="h-1-headline">Create the Account</div>
      <div class="h-4-sub-headline">Create the account to set up</div>
      <div class="jnt-input">
        <div class="input-content">
          <div class="icon-text"></div>
        </div>
      </div>
      <div class="jnt-input2">
        <div class="input-content">
          <div class="icon-text"></div>
        </div>
      </div>
      <div class="jnt-input3">
        <div class="input-content">
          <div class="view">
            <img class="group" src="{% static 'assets/group0.svg' %}" />
          </div>
          <div class="frame-2"></div>
        </div>
      </div>
      <div class="username">Username</div>
      <div class="password">Password</div>
      <div class="email">Email</div>
      <div class="frame-34">
        <div class="jnt-button">
          <div class="button3">
            <div class="content">
              <a href="{% url 'homepagelogo' %}">
                <div class="label2">Registration</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="already-have-the-account2">Already have the account?</div>
      <div class="button">
        <div class="button4">
          <div class="content">
            <div class="label">Sign in</div>
          </div>
        </div>
      </div>
      <div class="h-1-headline">Create the Account</div>
      <div class="h-4-sub-headline">Create the account to set up</div>
      <div class="jnt-input2">
        <div class="input-content2">
          <div class="icon-text"></div>
        </div>
      </div>
      <div class="jnt-input3">
        <div class="input-content2">
          <div class="view">
            <img class="group2" src="{% static 'assets/group1.svg' %}" />
          </div>
          <div class="frame-2"></div>
        </div>
      </div>
      <div class="username2">Username</div>
      <input type="email" class="input-email" placeholder="ex. John Doe" />
      <div class="password2">Password</div>
      <div class="email2">Email</div>
      <img
        class="pngtree-white-spot-float-image-1308466-removebg-preview-2"
        src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-20.png' %}"
      />
      <img
        class="pngtree-white-spot-float-image-1308466-removebg-preview-3"
        src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-30.png' %}"
      />
      <div
        class="pngtree-white-spot-float-image-1308466-removebg-preview-4"
      ></div>
      <img
        class="pngtree-white-spot-float-image-1308466-removebg-preview-5"
        src="{% static 'assets/pngtree-white-spot-float-image-1308466-removebg-preview-50.png' %}"
      />
      <img
        class="woman-s-face-with-word-galaxy-it-900370-7001-removebg-preview-1"
        src="{% static 'assets/woman-s-face-with-word-galaxy-it-900370-7001-removebg-preview-10.png' %}"
      />
    </div>
  </div>
  
</body>
</html>