:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1366px;
  height: 2237px;
  margin: 0 auto;
  background: #444444;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-radius: 2px;
}
.shape-text {
  position: relative;
  width: 1366px;
  height: 66px;
  margin: -2px 0 0 -2px;
  background: #c4c4c4;
  z-index: 62;
  border-radius: 6px;
}
.featured-courses {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50px;
  top: 2px;
  left: 2.238px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 25;
}
.shape-text-1 {
  position: absolute;
  width: 1240.662px;
  height: 24px;
  top: 21px;
  left: 87.192px;
  background: #f8f8f8;
  z-index: 63;
  border-radius: 9.6px;
}
.shape-text-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 21px;
  left: 14.532px;
  background: #f8f8f8;
  z-index: 64;
}
.shape-text-3 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 21px;
  left: 43.596px;
  background: #f8f8f8;
  z-index: 65;
}
.flex-row-c {
  position: relative;
  width: 1366px;
  height: 720px;
  margin: 1px 0 0 0;
  z-index: 136;
}
.spot-float-image {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 0;
  left: 0;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.logo {
  position: relative;
  width: 129px;
  height: 122px;
  margin: 8px 0 0 72px;
  background: url(./assets/images/2c69457c-14dd-4677-b3a4-b4e246d94837.png)
    no-repeat center;
  background-size: cover;
  z-index: 138;
}
.spot-float-image-4 {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 0;
  left: 806px;
  font-size: 0px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.events {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 111px;
  height: 60px;
  margin: 35px 0 0 65px;
  color: #ffffff;
  font-family: Mplus 1p, var(--default-font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 47.52px;
  text-align: center;
  white-space: nowrap;
  z-index: 74;
}
.shape {
  position: relative;
  width: 6.2px;
  height: 12.314px;
  margin: 72px 0 0 40px;
  background: url(./assets/images/adcdaf67-fdd8-45a8-bf50-ca53d4d10ef1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 79;
}
.november {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 233px;
  height: 21px;
  margin: 9.686px 0 0 120px;
  color: #545454;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  z-index: 78;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 298.869px;
  height: 25.014px;
  margin: 39px 0 0 14.234px;
  z-index: 91;
}
.s {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.m {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.t {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 89;
}
.w {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.t-5 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
.flex-row-c-6 {
  position: relative;
  width: 315.975px;
  height: 25.206px;
  margin: 19.986px 0 0 12px;
  z-index: 128;
}
.date-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 99.24%;
  top: 0;
  left: 46.24%;
  color: #bdbdbd;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 126;
}
.date-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 99.24%;
  top: 0;
  left: 69.33%;
  color: #bdbdbd;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 127;
}
.date-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 99.24%;
  top: 0;
  left: 91.03%;
  color: #bdbdbd;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 128;
}
.date-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 99.24%;
  top: 0.76%;
  left: 0;
  color: #bdbdbd;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 124;
}
.date-28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 99.24%;
  top: 0.76%;
  left: 22.53%;
  color: #bdbdbd;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 125;
}
.spot-float-image-7 {
  position: absolute;
  width: 225px;
  height: 360px;
  top: 0;
  left: 1141px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  z-index: 72;
}
.flex-row-cde {
  position: relative;
  width: 136px;
  height: 47px;
  margin: 34px 0 0 38px;
  z-index: 177;
}
.vector {
  position: absolute;
  width: 29.41%;
  height: 100%;
  top: 0;
  left: 70.59%;
  background: url(./assets/images/9c383b8e-7695-41c4-acb0-2ec519dffdaa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.line {
  position: absolute;
  width: 1px;
  height: 40px;
  top: 2px;
  left: 0;
  background: url(./assets/images/b01a1c7b-ec09-4f07-aa30-3cd61876999e.png)
    no-repeat center;
  background-size: cover;
  z-index: 177;
}
.user-alt {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 3px;
  left: 36px;
  background: rgba(255, 243, 243, 0);
  z-index: 2;
  overflow: hidden;
}
.vector-8 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/4cec862e-aa8a-45fb-a35f-968553cb952a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.shape-9 {
  position: relative;
  width: 6.2px;
  height: 12.314px;
  margin: 86px 0 0 147px;
  background: url(./assets/images/7707a3b3-8b69-4c86-9bfd-1a7ad489e745.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 80;
}
.flex-row-aaf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 84.718px;
  height: 25.014px;
  margin: 69.686px 0 0 35.789px;
  z-index: 93;
}
.f {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}
.s-a {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #995765;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.flex-row-ca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 85.351px;
  height: 25.014px;
  margin: 20.177px 0 0 38.289px;
  z-index: 95;
}
.date-1 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.date-2 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.connect {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 70px;
  top: 34px;
  left: 1007px;
  color: #ffffff;
  font-family: Mplus 1p, var(--default-font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 47.52px;
  text-align: left;
  white-space: nowrap;
  z-index: 130;
}
.map {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 113px;
  height: 70px;
  top: 36px;
  left: 749px;
  color: #ffffff;
  font-family: Mplus 1p, var(--default-font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 47.52px;
  text-align: center;
  white-space: nowrap;
  z-index: 73;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 70px;
  top: 38px;
  left: 643px;
  color: #ffffff;
  font-family: Mplus 1p, var(--default-font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 47.52px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.line-b {
  position: absolute;
  width: 23.959px;
  height: 2.989px;
  top: 85px;
  left: 644px;
  background: #cd9fa2;
  z-index: 131;
}
.rectangle {
  position: absolute;
  width: 357px;
  height: 379px;
  top: 168px;
  left: 790px;
  background: #d9d9d9;
}
.flex-row {
  position: relative;
  width: 309.753px;
  height: 26.155px;
  margin: 175px 0 0 33.265px;
  z-index: 100;
}
.num-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 11.31%;
  height: 95.58%;
  top: 0;
  left: 88.69%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: center;
  white-space: nowrap;
  z-index: 100;
}
.num-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95.64%;
  top: 4.36%;
  left: 22.98%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.num-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95.64%;
  top: 4.36%;
  left: 45.96%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.num-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95.64%;
  top: 4.36%;
  left: 68.94%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
}
.num-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 95.64%;
  top: 4.36%;
  left: 0;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.flex-row-edf {
  position: relative;
  width: 313.072px;
  height: 25.015px;
  margin: 24.934px 0 0 28px;
  z-index: 107;
}
.num-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 22.74%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.num-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 45.47%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.num-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 68.21%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 106;
}
.num-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 90.95%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.num-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 313.072px;
  height: 25.015px;
  margin: 24.934px 0 0 28px;
  z-index: 114;
}
.num-17 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.num-18 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 111;
}
.num-19 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 112;
}
.num-20 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 113;
}
.num-21 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 114;
}
.flex-row-e {
  position: relative;
  width: 329.072px;
  height: 50px;
  margin: 8.948px 0 0 12px;
  z-index: 121;
}
.ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 82;
}
.num-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50.03%;
  top: 31.97%;
  left: 32%;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.ellipse-c {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 216px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 83;
}
.num-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50.03%;
  top: 31.97%;
  left: 27.1%;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 120;
  overflow: hidden;
}
.rectangle-d {
  position: absolute;
  width: 237px;
  height: 39px;
  top: 6px;
  left: 9px;
  cursor: pointer;
  background: rgba(153, 87, 101, 0.35);
  border: none;
  z-index: 84;
}
.num-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 64.14%;
  top: 25.6%;
  left: 32.99%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 118;
}
.num-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 64.14%;
  top: 25.6%;
  left: 63.02%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 119;
}
.num-28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 50.03%;
  top: 31.97%;
  left: 91.39%;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.rectangle-e {
  position: absolute;
  width: 501px;
  height: 377px;
  top: 170px;
  left: 792px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  z-index: 77;
  border-radius: 10px;
}
.line-f {
  position: relative;
  width: 461px;
  height: 1px;
  margin: 55px 0 0 12px;
  background: url(./assets/images/a09c5697-8b0a-4e98-970e-b74218586f5a.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
}
.flex-row-e-10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 104px;
  height: 26px;
  margin: 119px 0 0 386px;
  z-index: 102;
}
.num-8 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 101;
}
.num-9 {
  flex-shrink: 0;
  position: relative;
  height: 25px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 102;
}
.flex-row-fb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 99.518px;
  height: 25.014px;
  margin: 25.089px 0 0 381.921px;
  z-index: 109;
}
.num-15 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.num-16 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 109;
}
.flex-row-11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 99.518px;
  height: 25.014px;
  margin: 25.934px 0 0 381.921px;
  z-index: 116;
}
.num-22 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 115;
}
.text-2e {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #333333;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 116;
}
.group-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 99.518px;
  height: 25.014px;
  margin: 25.934px 0 0 381.921px;
  z-index: 123;
}
.text-2f {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 122;
}
.text-30 {
  flex-shrink: 0;
  position: relative;
  height: 25.014px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  white-space: nowrap;
  z-index: 123;
}
.wrapper-4 {
  position: absolute;
  width: 648px;
  height: 204px;
  top: 189px;
  left: 158px;
  font-family: Mooli, var(--default-font-family);
  font-size: 58px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  letter-spacing: 0.2px;
  z-index: 129;
}
.text-31 {
  position: relative;
  color: #ffffff;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 48px;
  font-weight: 300;
  line-height: 80px;
  text-align: left;
}
.text-32 {
  position: relative;
  color: #ffffff;
  font-family: Montserrat Alternates, var(--default-font-family);
  font-size: 64px;
  font-weight: 300;
  line-height: 80px;
  text-align: left;
}
.text-33 {
  position: relative;
  color: #ffffff;
  font-family: Montserrat Alternates, var(--default-font-family);
  font-size: 48px;
  font-weight: 300;
  line-height: 80px;
  text-align: left;
}
.text-34 {
  position: relative;
  color: #ffffff;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 48px;
  font-weight: 300;
  line-height: 80px;
  text-align: left;
}
.text-35 {
  position: relative;
  color: #ffffff;
  font-family: Italianno, var(--default-font-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
}
.pic-6 {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 332px;
  left: 360px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.42;
  z-index: 68;
}
.img-6 {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 332px;
  left: 806px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.42;
  z-index: 69;
}
.pic-7 {
  position: absolute;
  width: 223px;
  height: 360px;
  top: 332px;
  left: 1141px;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.42;
  z-index: 70;
}
.pic-8 {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 360px;
  left: 0;
  background: url(./assets/images/0394c3747fcf62ae0574f5a3d694fc87833dfa9a.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.42;
  z-index: 67;
}
.text-36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 596px;
  height: 51px;
  top: 369px;
  left: calc(50% - 521px);
  color: #e1d8de;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.5px;
  z-index: 132;
}
.Button-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 168px;
  height: 52px;
  top: 50%;
  left: 50%;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  background: #cd9fa2;
  border: none;
  transform: translate(-310.12%, 163.46%);
  z-index: 136;
  overflow: hidden;
  border-radius: 5px;
}
.text-37 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 88px;
  height: 22px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 137;
}
.Button-5 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 165px;
  height: 52px;
  top: 445px;
  left: 360px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 133;
}
.box-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 165px;
  padding: 15px 40px 15px 40px;
  border: 1px solid #cd9fa2;
  z-index: 134;
  overflow: hidden;
  border-radius: 5px;
}
.text-38 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 85px;
  height: 22px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 135;
}
.text-39 {
  display: block;
  position: relative;
  height: 50px;
  margin: 1px 0 0 58px;
  color: #ffffff;
  font-family: Moul, var(--default-font-family);
  font-size: 64px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 139;
}
.text-3a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 286px;
  height: 37px;
  margin: 18px 0 0 58px;
  color: #ffffff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0.2px;
  z-index: 140;
}
.box-a {
  position: relative;
  width: 1121.688px;
  height: 471.348px;
  margin: 1px 0 0 58px;
  z-index: 141;
}
.pic-9 {
  position: absolute;
  width: 964px;
  height: 471.348px;
  top: 0;
  left: 50%;
  background: url(./assets/images/699f2c4e-412f-4264-a516-2416c3527527.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-43.34%, 0);
  z-index: 76;
}
.box-b {
  position: relative;
  width: 345.688px;
  height: 347px;
  margin: 11px 0 0 245px;
  background: #ffffff;
  z-index: 142;
  overflow: visible auto;
  border-radius: 10px;
}
.img-7 {
  position: relative;
  width: 318px;
  height: 100px;
  margin: 23px 0 0 9px;
  background: url(./assets/images/73dcf393-76e0-41dd-a5da-e68c19e65e3a.png)
    no-repeat center;
  background-size: cover;
  z-index: 168;
  overflow: hidden;
}
.text-3b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 115px;
  height: 24px;
  margin: 7px 0 0 9px;
  color: #995765;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 150;
}
.text-3c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 326px;
  height: 24px;
  margin: 1px 0 0 9px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 152;
}
.text-3d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 257px;
  height: 20px;
  margin: 12px 0 0 9px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 154;
}
.group-8 {
  position: relative;
  width: 186px;
  height: 24px;
  margin: 11px 0 0 9px;
  z-index: 167;
}
.text-3e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 163px;
  height: 24px;
  top: 0;
  left: 23px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 160;
}
.text-3f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 163px;
  height: 24px;
  top: 0;
  left: 23px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 162;
}
.pic-a {
  position: absolute;
  width: 3.76%;
  height: 45.84%;
  top: 20.83%;
  left: 2.15%;
  background: url(./assets/images/de1b3b5d-49ed-42a8-90b2-059afb29c4de.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 158;
}
.pic-b {
  position: absolute;
  width: 8.6%;
  height: 20.83%;
  top: 66.67%;
  left: 0;
  background: url(./assets/images/94b8cb9f-0194-4e5b-9677-df1a9fa6da9f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 167;
}
.box-c {
  position: relative;
  width: 138.143px;
  height: 44px;
  margin: 18px 0 0 9px;
  z-index: 143;
}
.Button-6 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #cd9fa2;
  z-index: 5;
  overflow: hidden;
  border-radius: 37px;
}
.text-40 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 6;
}
.section-5 {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 7;
  overflow: hidden;
}
.img-8 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/82a0552f-5edf-4c4b-92f6-669ffeeee6a4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.group-9 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 20px;
  border: 1px solid #cd9fa2;
  z-index: 11;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 12;
}
.icn-arrow-right {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 13;
  overflow: hidden;
}
.vector-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/9aa30ae9-60c8-45e9-aff6-8c0435d8da87.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.button-sm {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 20px;
  border: 1px solid #cd9fa2;
  z-index: 15;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 16;
}
.icn-arrow-right-14 {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 17;
  overflow: hidden;
}
.vector-15 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/cf3e7507-8298-40ab-8548-869c1e08109b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.button-sm-16 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 20px;
  border: 1px solid #cd9fa2;
  z-index: 143;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 144;
}
.icn-arrow-right-18 {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 145;
  overflow: hidden;
}
.vector-19 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/4cc2d0f2-a263-42ec-bb24-cb3055590c0e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 146;
}
.course-background {
  position: absolute;
  width: 345.688px;
  height: 347px;
  top: 11px;
  left: 0;
  background: #ffffff;
  z-index: 141;
  border-radius: 10px;
}
.rectangle-1a {
  position: relative;
  width: 311px;
  height: 88px;
  margin: 18px 0 0 16px;
  background: url(./assets/images/769895e2-361d-4b5d-89da-f3d93ce85a07.png)
    no-repeat center;
  background-size: cover;
  z-index: 148;
  overflow: visible auto;
}
.rectangle-1b {
  position: relative;
  width: 308px;
  height: 77px;
  margin: 6px 0 0 3px;
  z-index: 147;
}
.hindu-yuva {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 92px;
  height: 24px;
  margin: 16px 0 0 14px;
  color: #995765;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 149;
}
.product-title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 257px;
  height: 24px;
  margin: 8px 0 0 16px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 151;
}
.product-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 257px;
  height: 20px;
  margin: 10px 0 0 19px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 153;
}
.frame {
  position: relative;
  width: 16px;
  height: 16px;
  margin: -5px 0 0 14px;
  z-index: 155;
  overflow: hidden;
}
.students-rsvped {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 157px;
  height: 24px;
  top: 219px;
  left: 44px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 159;
}
.vector-1c {
  position: absolute;
  width: 2.03%;
  height: 3.17%;
  top: 65.42%;
  left: 7.52%;
  background: url(./assets/images/bf401d93-d4a9-45bb-b79b-69a76648189a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 157;
}
.vector-1d {
  position: absolute;
  width: 4.63%;
  height: 1.44%;
  top: 68.01%;
  left: 6.36%;
  background: url(./assets/images/eae6ec8b-3990-4d18-ba77-c32d3d09b673.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 156;
}
.button-sm-1e {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 260px;
  left: 12px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #cd9fa2;
  z-index: 163;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now-1f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 164;
}
.icn-arrow-right-20 {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 165;
  overflow: hidden;
}
.vector-21 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/fce4f2de-b56b-4b07-91d0-09af3d0a64d0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 166;
}
.button-sm-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 138.143px;
  height: 44px;
  top: 264px;
  left: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #23a6f0;
  z-index: 21;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now-23 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #23a6f0;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 22;
}
.icn-arrow-right-24 {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 23;
  overflow: hidden;
}
.vector-25 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/f1968665-f58b-4a28-bf56-fdac2bfe8b61.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.course-background-26 {
  position: absolute;
  width: 345.688px;
  height: 347px;
  top: 11px;
  left: 776px;
  background: url(./assets/images/004c7a00-9b52-4f5f-b26a-518cfbe24ac6.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.rectangle-27 {
  position: relative;
  width: 290px;
  height: 97px;
  margin: 26px 0 0 23px;
  background: url(./assets/images/61e58b47-9efc-41ce-af08-40e2cc81fa5e.png)
    no-repeat center;
  background-size: cover;
  z-index: 169;
}
.arab-cultural-night {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 146px;
  height: 24px;
  margin: 12px 0 0 12px;
  color: #995765;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 20;
}
.product-title-28 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 326px;
  height: 24px;
  margin: 0 0 0 9px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 19;
}
.product-title-29 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 326px;
  height: 24px;
  margin: -6px 0 0 10px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 9;
}
.product-description-2a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 257px;
  height: 20px;
  margin: -5px 0 0 10px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 170;
}
.button-sm-2b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 138.143px;
  margin: 49px 0 0 10px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #cd9fa2;
  z-index: 173;
  overflow: hidden;
  border-radius: 37px;
}
.rsvp-now-2c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 79px;
  height: 24px;
  color: #cd9fa2;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 174;
}
.icn-arrow-right-2d {
  flex-shrink: 0;
  position: relative;
  width: 9.143px;
  height: 16px;
  z-index: 175;
  overflow: hidden;
}
.vector-2e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/753a6fdb-4be4-4c8e-9e53-5c2c55fffb2c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 176;
}
.students-rsvped-2f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 158px;
  height: 24px;
  top: 227px;
  left: 43px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 161;
}
.vector-30 {
  position: absolute;
  width: 2.03%;
  height: 3.17%;
  top: 66.86%;
  left: 5.5%;
  background: url(./assets/images/1079d57e-9b35-4609-b16e-142d3deca158.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 171;
}
.vector-31 {
  position: absolute;
  width: 4.63%;
  height: 1.44%;
  top: 70.03%;
  left: 4.34%;
  background: url(./assets/images/57b5d923-31e5-4963-85f7-7a4e2631dd75.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 172;
}
.contact-us {
  position: relative;
  width: 1366px;
  height: 338px;
  margin: 543.652px 0 0 0;
  background: #ffffff;
  z-index: 26;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
  position: absolute;
  width: 1050px;
  height: 338px;
  top: 0;
  left: 50%;
  padding: 80px 0 80px 0;
  transform: translate(-50%, 0);
  z-index: 27;
  overflow: hidden;
}
.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 30px;
  position: relative;
  width: 1046px;
  z-index: 28;
  overflow: hidden;
}
.col-md {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 25px;
  position: relative;
  width: 238px;
  z-index: 29;
  overflow: hidden;
}
.get-in-touch {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 30;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 68px;
  z-index: 31;
  overflow: hidden;
}
.facebook {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 32;
  overflow: hidden;
}
.ant-design-facebook-filled {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 33;
  overflow: hidden;
}
.vector-32 {
  position: relative;
  width: 23px;
  height: 23px;
  margin: 0 0 0 0.5px;
  background: url(./assets/images/51e26874-dd74-404e-97b9-e07d0252a7a1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.instagram {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 35;
  overflow: hidden;
}
.ant-design-instagram-outlined {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 36;
  overflow: hidden;
}
.vector-33 {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 1px 0 0 1.5px;
  background: url(./assets/images/00326c57-0b2a-4c03-97c4-eade6b96abf7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 37;
}
.col-md-34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 241px;
  z-index: 38;
  overflow: hidden;
}
.company-info {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 39;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 67px;
  z-index: 40;
}
.about-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 41;
}
.blog {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 42;
}
.col-md-35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 240px;
  z-index: 43;
  overflow: hidden;
}
.features {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 44;
}
.div-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 142px;
  z-index: 45;
}
.business-marketing {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 46;
}
.user-analytic {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 47;
}
.live-chat {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 48;
}
.unlimited-support {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 49;
}
.col-md-37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 131px;
  z-index: 50;
  overflow: hidden;
}
.resources {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #2f2a36;
  font-family: Montserrat, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.1px;
  z-index: 51;
}
.div-38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 106px;
  z-index: 52;
}
.ios-android {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 53;
}
.watch-a-demo {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 54;
}
.customers {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 55;
}
.api {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 56;
}
.row-39 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 213px;
  position: absolute;
  width: 513px;
  height: 24px;
  top: 301px;
  left: 466px;
  z-index: 57;
  overflow: hidden;
}
.signature-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 513px;
  z-index: 58;
  overflow: hidden;
}
.made-during-hackumass-24 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #727272;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.2px;
  z-index: 59;
}
.background {
  position: absolute;
  width: 1366px;
  height: 2188px;
  top: 10px;
  left: -1px;
  background: url(./assets/images/a93db11e-4fcd-451d-899e-3b9216a38e77.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
  border-radius: 20px;
}
